@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap');

/* Start: Testing Outline */
/* HTML > Body > Elem */
/* body > * {
  box-sizing: border-box;
  border: solid 1px rgb(239, 111, 243);
}

body > * > * {
  box-sizing: border-box;
  border: solid 1px rgb(80, 236, 184);
}

body > * > * > *  {
  box-sizing: border-box;
  border: solid 1px rgb(255, 99, 71);
}

body > * > * > * > * {
  box-sizing: border-box;
  border: solid 1px rgb(107, 142, 35);
} */
/* End: Testing Outline */

:root {
  --wrapper_max-width: 1440px;
  --font-family--primary: 'Lato', sans-serif;
  --font-family--secondary: 'Arial';

  --hero-img: url("../images/your_verse_hero.jpg");
}

body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: var(--font-family--primary);
}

.body-wrapper {
  margin: 0 auto;
  padding: 0;

  max-width: var(--wrapper_max-width);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard {
  width: 100%;
  max-height: 1180px;

  background-image: var(--hero-img);
  background-repeat: no-repeat;
  background-position: 50% 100%;

  flex: 1;
}

/* Navigation */
nav {
  padding: 5.25rem 0 0;
}

.nav-links {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  max-width: 980px;

  height: 36px;

  border-radius: .25rem;
  border: solid 1px #565656;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  background: linear-gradient(
  #8b8b8b 0%,
  #707070 50%,
  #5f5f5f 50%,
  #7a7a7a 100%
  );
}

.nav-links__link {
  height: 100%;
  width: 105px;

  border-right: solid 1px #565656;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links__link-text {
  font-size: 0.75rem;
  font-weight: 400;

  color: white;
  text-decoration: none;

  text-shadow: -1px -1px 1px black;
}

.nav-logo {
  height: 20px;
  width: 20px;
}

.nav-search {
  width: 132px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-search__input {
  box-sizing: border-box;
  padding-left: 1.5rem;

  height: 1.25rem;
  max-width: 100%;

  background-color: rgba(0,0,0, 0%);
  background-image: url('../images/search.svg');
  background-position: 0.25rem 0.125rem;
  background-repeat: no-repeat;



  border-radius: 1rem;

  box-shadow: 2px -2px rgb(49, 49, 49);

  font-size: .75rem;
  color: rgb(202, 202, 202);
}

.nav-search__input:focus {
  background-color: white;
  color: black;
}

.hero-text {
  margin-left: auto;
  margin-right: auto;

  margin-top: 4rem;

  max-width: 840px;

  color: white;
  text-align: center;
}

.hero-text__title {
  margin: 0;
  padding: 0;

  line-height: 6rem;

  font-size: 4rem;
  font-weight: 100;
}

.hero-text__subtitle {
  margin: 0;
  padding: 0;

  margin-bottom: 1.5rem;
  font-size: 2.125rem;
  font-weight: 100;
}

.hero-text__link {
  margin: 0 auto;
  padding: 0 auto;

  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.625rem;
  font-weight: 100;

  color: white;
  text-decoration: none;
}

.hero-text__link:hover {
  text-decoration: underline;
}

.hero-text__link-img {
  padding-left: .5rem;
  padding-top: .125rem;
  height: 1.75rem;
}

.promos {
  margin-top: 2px;
  height: 200px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
}

.promos__promotion {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

/* FOOTER */
.footer-wrapper {
  max-width: 980px;
  height: 90px;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: .25rem;

  color: rgb(100, 100, 100);
  font-size: 11px;
}

.footer-info, .footer-nav, .footer-copyright {
  margin: 0;
  padding: 0;
}

.footer-info, .footer-nav {
  margin-top: 1.5rem;
}

.footer-nav {
  display: flex;

  list-style: none;
}

.footer-nav__item:not(:first-child) {
  padding-left: .25rem;
  height: .75rem;
  border-left: solid 1px #6e6e6e;
}

.footer-nav__item:not(:last-child) {
  padding-right: .25rem;
}

.footer-nav__item-link{
  text-decoration: none;
}

.footer-nav__item-link:hover {
  text-decoration: underline;
}

.footer-info__link {
  text-decoration: none;
}

.footer-info__link:hover {
  text-decoration: underline;
}

.footer-copyright {
  margin-top: .75rem;
}

.footer-copyright__text {
  display: inline;
}

.footer-copyright__link {
  padding: 0 4px;
  text-decoration: none;
}

.footer-copyright__link:first-of-type {
  border-right: solid 1px rgb(190, 190, 190);
}